.ivu-page-header {
  padding: 15px 20px 0 20px;
}

.ivu-page-header-title {
  font-size: 16px;
}

.ivu-page-header-back {
  .ivu-icon {
    font-size: 16px;
  }
  .ivu-divider {
    top: 5px !important;
  }
}
