.ivu-page-header {
  padding: 15px 20px 0 20px;
}

.ivu-page-header-title {
  font-size: 16px;
}

.ivu-page-header-back {
  .ivu-icon {
    font-size: 16px;
  }
  .ivu-divider {
    top: 5px !important;
  }
}

.ivu-table {
  .ivu-table-header {
    th {
      padding: 12px 0;
    }
  }
  th {
    background-color: #fafafa;
    border-bottom: 1px solid #0505050f;
  }
  td {
    height: auto;
    padding: 8px 0;
    border-bottom: 1px solid #0505050f;
  }
  tr.ivu-table-row-hover td {
    background-color: #fafafa;
  }
  &::before {
    content: '';
    background: #fff;
    border-bottom: 1px solid #0505050f;
  }
}

.tab-animate {
  .ivu-tabs-ink-bar {
    transition: all 0.3s ease-in-out;
  }
}

.table {
  .ivu-table {
    border: 1px solid rgba(5, 5, 5, 0.05);
    border-bottom: none;
    .ivu-table-overflowX {
      overflow-x: hidden;
    }
  }
  .ivu-table-cell {
    font-size: 12px;
  }
  .link {
    color: #2d8cf0;
    font-size: 12px;
    cursor: pointer;
  }
  .symbol {
    padding: 0 2px;
  }
  .row-wrap {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .inline-logo-box {
    font-size: 12px;
    .inline-logo {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      vertical-align: middle;
      border-radius: 50%;
      background: #333;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
