.wrap {
  width: 1280px;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}

.clear-float::after {
  content: '';
  display: block;
  clear: both;
}

/*页面加载进度条*/
#nprogress .bar {
  background: #0c9dfc;
  height: 1px;
}
